<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 15px;">

# Intro to Data Cleaning

***

Week 2 | Lesson 2.3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*

- Inspect data types and values
- Diagram a data processing workflow
- Clean up a column using df.apply()

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 5 min  | [Introduction](#introduction)   | Inspect data types, df.apply(), .value_counts()  |
| 10 min  | [Demo /Guided Practice](#common_steps)  | Common cleaning |
| 10 min  | [Demo /Guided Practice](#dfd)  | Data flow diagrams |
| 10 min  | [Demo /Guided Practice](#inspect_data_types)  | Inspecting data types |
| 10 min  | [Demo /Guided Practice](#apply)  | Applying functions |
| 10 min  | [Demo /Guided Practice](#value_counts)  | .value_counts() |
| 20 min  | [Independent Practice](#ind-practice)  |   |
| 5 min  | [Conclusion](#conclusion)  |   |

<a name="introduction"></a>
## Introduction: data cleaning (5 mins)

Since we're starting to get pretty comfortable with using pandas to do EDA, let's add some more tools to our toolbox.

### Conceptually: what do you look for, and how do you stay organized?

There's no magic formula, but we'll list common cleaning operations.

Reproducibility matters, so document! For high-level planning and documentation, **data flow diagrams** are helpful.

### Technically: once you know what you want to do, how do you do it in pandas?

Pandas has many functions to help process and manipulate your data. You learned some this morning. We'll take a second look at .dtypes, .apply() and .value_counts.

**.dtypes** is the data type attribute of numpy/pandas objects.

**df.apply()** applies a function along any axis of a DataFrame.

**pandas.Series.value_counts** returns a Series containing counts of unique values. Excludes NaN values.

<a name="common_steps"></a>

## Common steps in cleaning data

- Drop outliers

For numerical data, consider dropping values > 3 SDs from the mean.

For categorical data, consider dropping cases accounting for < 1% of items.

- Normalize

Options include:

Max-min: $X_{norm} = (X − X_{min}) / (X_{max} − X_{min})$

Z-score: $(X_i - mean(X)) / sd$

## Common steps in cleaning data

- Relabel

*("Bachelor's", "BSc", "Bachelor of Arts") -> "BA"*

- Decode

*1 -> "EU", 2 -> "Asia-Pacific", 3 -> "MENA"*

## Common steps in cleaning 

- Recast

*("1.0", "2.0", "3.0") -> (1,2,3)*

- Handle null values

Pandas will usually impute NaNs for you. Drop them? Replace with estimates?

## Common steps in cleaning 

- Binarize (dummy variables)

*(Blue, Green, Blue, Red, Red, Green) ->*
*IsBlue: (1, 0, 1, 0, 0, 0); IsGreen: (0, 1, 0, 0, 0, 1); IsRed: (0, 0, 0, 1, 1, 0)*

- Discretization

*(20, 56, 7, 2, 14, 89, 70, 40) -> (Adult, Adult, Child, Child, Child, Senior, Senior, Adult)*

> Look at the Billboard dataset (below). What kinds of cleaning might it require?

In [80]:
import pandas as pd
bb = pd.read_csv('assets/datasets/billboard.csv')
bb["genre"].value_counts()

Rock           103
Country         74
Rap             58
Rock'n'roll     34
R&B             13
R & B           10
Pop              9
Latin            9
Electronica      4
Gospel           1
Jazz             1
Reggae           1
Name: genre, dtype: int64

In [81]:
bb.columns.values

array(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week',
       'x14th.week', 'x15th.week', 'x16th.week', 'x17th.week',
       'x18th.week', 'x19th.week', 'x20th.week', 'x21st.week',
       'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week',
       'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week',
       'x34th.week', 'x35th.week', 'x36th.week', 'x37th.week',
       'x38th.week', 'x39th.week', 'x40th.week', 'x41st.week',
       'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week',
       'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week',
       'x54th.week', 'x55th.week', 'x56th.week', 'x57th.week',
       'x58th.week', 'x59th.week', 'x60th.week', 'x61st.week',
       'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week',
       'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week',
       'x74th.week', 'x75th.week', 'x76th.week'], dtype=object)

<a name="dfd"></a>


## Planning your system with data flow diagrams (10 mins)


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Data-flow-diagram-notation.svg/220px-Data-flow-diagram-notation.svg.png">

- Function / process (ellipse or circle): takes in data from one or more sources, transforms it, and outputs it to one or more destinations 

- Store / file (parallel lines): place where data persists; takes an input and ought to have an output

- Input-output (rectangle): process that produces or consumes data

- Flow (arrow): shows the flow of specific data

> What is an example of data processing you may want to do? Sketch a data flow diagram and walk your tablemates through it.

<a name="inspect_data_types"></a>
## Demo /Guided Practice: Inspect data types  (10 mins)

Let's create a small dictionary with different data types in it.

### Import Pandas + Numpy

In [3]:
import pandas as pd
import numpy as np

### Create Test Data

In [14]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)

In [15]:
test_data

{'A': array([ 0.49037759,  0.38078186,  0.83204938]),
 'B': 1,
 'C': 'foo',
 'D': Timestamp('2001-01-02 00:00:00'),
 'E': 0    1.0
 1    1.0
 2    1.0
 dtype: float32,
 'F': False,
 'G': 0    1
 1    1
 2    1
 dtype: int8}

### Create our DataFrame

In [16]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.490378  1  foo 2001-01-02  1.0  False  1
1  0.380782  1  foo 2001-01-02  1.0  False  1
2  0.832049  1  foo 2001-01-02  1.0  False  1

In [231]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

**What might we expect dtypes in the case of mixed type values in a single dimension?**

ie:  [2, 3, 4, 5, 6, 7, 8.9]

If a pandas object contains data multiple dtypes IN A SINGLE COLUMN, the dtype of the column will be chosen to accommodate all of the data types (object is the most general).

### Ints are cast to floats

In [18]:
pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

### String elements are cast to ``object`` dtype

In [27]:
pd.Series([1, 2, 3, 'foo'])

0      1
1      2
2      3
3    foo
dtype: object

In [234]:
dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

> If you turn these into a pd.Series, what will be the dtype?

    [1, 3, 9, .33, False, '03-20-1978', np.arange(22)]

In [235]:
pd.Series([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])

0                                                    1
1                                                    3
2                                                    9
3                                                 0.33
4                                                False
5                                           03-20-1978
6    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
dtype: object

## Why do you think it might be important to know what the column dtypes are?

In [30]:
dft

          A  B    C          D    E      F  G
0  0.490378  1  foo 2001-01-02  1.0  False  1
1  0.380782  1  foo 2001-01-02  1.0  False  1
2  0.832049  1  foo 2001-01-02  1.0  False  1

In [33]:
print(dft.select_dtypes(include=['bool']))
print(dft.select_dtypes(include=['bool'])*2)
print(dft.select_dtypes(include=['object']))
print(dft.select_dtypes(include=['object'])*2)
#dft.select_dtypes(include=['object'])/2

       F
0  False
1  False
2  False
   F
0  0
1  0
2  0
     C
0  foo
1  foo
2  foo
        C
0  foofoo
1  foofoo
2  foofoo

<a name=" df.apply()"></a>
## Demo / Guided Practice:  df.apply(), df.applymap(), Series.map() (20 mins)

df.apply() applies some function to each column (or row) of your dataframe (*"column-wise"*).

df.applymap() applies some function *element-wise*.

Series.map() is a pd.Series method that applies a function element-wise on a series.

> Check: why would these be useful in data cleaning?

In [61]:
# Create test data
import random
y=10
x=np.random.randint(1,y)
df = pd.DataFrame(np.random.randint(-y, y, (y,y)))
df

   0  1  2  3   4  5  6   7  8  9
0 -4  3  6 -9   5  7  0   4  9 -9
1 -9 -3  7  9  -6 -9  6  -9 -1  5
2 -4  3  0  0  -7  1  7  -7  4  6
3 -8  1  7 -3   3 -3  2   5 -3  0
4  9 -6  7 -7   7 -1  3  -7  4  8
5 -7 -1  4 -2 -10  5 -5  -7  7  7
6  8 -4  0  5  -6 -8  7   1 -8  7
7  3  5 -1 -8  -3 -4 -5  -5 -5  5
8  7  3  5  1  -6  8 -5  -4  9 -6
9 -9 -5  7  4   5  4  5 -10 -7  6

In [18]:
df.apply(min,axis=0)

0    -8
1    -8
2    -6
3    -3
4   -10
5   -10
6    -6
dtype: int64

In [16]:
df

   0  1  2  3   4   5  6
0 -7 -3 -4  0   7 -10  9
1 -3 -4  8  9   2  -4 -4
2  3 -6  9  8   0   0 -4
3 -8  5  1  4 -10 -10 -1
4 -3 -8 -6  6  -1  -5 -6
5  5 -2  9 -3  -1  -4 -1
6  5 -7  4 -1  -5  -6  4

In [17]:
df.apply(min, axis = 1)

0   -10
1    -4
2    -6
3   -10
4    -8
5    -4
6    -7
dtype: int64

In [20]:
df.applymap(np.square)

    0   1   2   3    4    5   6
0  49   9  16   0   49  100  81
1   9  16  64  81    4   16  16
2   9  36  81  64    0    0  16
3  64  25   1  16  100  100   1
4   9  64  36  36    1   25  36
5  25   4  81   9    1   16   1
6  25  49  16   1   25   36  16

In [25]:
df[1].map(np.square)

0     9
1    16
2    36
3    25
4    64
5     4
6    49
Name: 1, dtype: int64

> Check: what happens if we try to use the min function in .applymap()?

In [49]:
df.applymap(lambda x: np.sqrt(x**2-x)+x*5)

           0          1          2          3          4          5          6
0 -27.516685 -11.535898 -15.527864   0.000000  41.480741 -39.511912  53.485281
1 -11.535898 -15.527864  47.483315  53.485281  11.414214 -15.527864 -15.527864
2  17.449490 -23.519259  53.485281  47.483315   0.000000   0.000000 -15.527864
3 -31.514719  29.472136   5.000000  23.464102 -39.511912 -39.511912  -3.585786
4 -11.535898 -31.514719 -23.519259  35.477226  -3.585786 -19.522774 -23.519259
5  29.472136  -7.550510  53.485281 -11.535898  -3.585786 -15.527864  -3.585786
6  29.472136 -27.516685  23.464102  -3.585786 -19.522774 -23.519259  23.464102

In [41]:
df.apply(np.std,axis=1)

0    6.490181
1    5.394631
2    5.233331
3    6.040678
4    4.333072
5    4.403153
6    4.823412
dtype: float64

### Further Reading

For more advanced `.apply` usage, check out these links:

["Why Not"'s Gist Examples](https://gist.github.com/why-not/4582705)

[Chris Albon's Map + Apply Examples](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

### **Check:** How would you find the std of the columns and rows?

<a name=".value_counts()"></a>
## Demo /Guided Practice: .value_counts() (< 10 mins)

Why is this important?  Basically, this tells us the count of unique values that exist.  It's helpful to identify anything unexpected.  Looking at value_counts(), per series, can give us a quick overview of values expressed in our data.

 - Strings inside of mostly numeric / continious data
 - Non-numeric values
 - General counts of values that we might expect to see
 - Most common / least common values

Let's create some random data

In [63]:
data = np.random.randint(0, 7, size=50)
data

array([4, 4, 3, 1, 6, 6, 4, 4, 0, 3, 4, 6, 0, 6, 2, 1, 4, 3, 5, 2, 6, 2, 2,
       0, 0, 2, 3, 3, 5, 6, 1, 3, 2, 5, 6, 3, 0, 3, 1, 3, 3, 6, 3, 4, 4, 6,
       5, 4, 4, 4])

In [69]:
s = pd.Series(data)
s.head()

0    4
1    4
2    3
3    1
4    6
dtype: int64

In [48]:
# The counts of each number that occurs in our array is listed
s.value_counts()

3    9
1    9
0    9
2    8
4    6
5    5
6    4
dtype: int64

### Lab preview: let's munge the Billboard dataset!

In [49]:
bb.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,*,*,*,*,*,*,*,*,*,*
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,*,*,*,*,*,*,*,*,*,*
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,*,*,*,*,*,*,*,*,*,*
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,*,*,*,*,*,*,*,*,*,*
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,*,*,*,*,*,*,*,*,*,*
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,*,*,*,*,*,*,*,*,*,*
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,*,*,*,*,*,*,*,*,*,*
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,*,*,*,*,*,*,*,*,*,*
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,*,*,*,*,*,*,*,*,*,*

Where do we start? Let's start with the null value sentinels.

In [89]:
def replace_nulls(value):
    if value == '*':
        return np.nan
    else:
        return value

In [90]:
bb.applymap(replace_nulls)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,"3,10,00 AM",Rock'n'roll,"May 6, 2000","July 29, 2000",82,70,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,"3,18,00 AM",Rock'n'roll,"November 27, 1999","January 15, 2000",71,51,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,"4,01,00 AM",Rock'n'roll,"January 22, 2000","July 15, 2000",70,61,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,"3,52,00 AM",Rock'n'roll,"May 13, 2000","November 11, 2000",84,78,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,"4,03,00 AM",Rock'n'roll,"March 18, 2000","June 17, 2000",59,53,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,"4,12,00 AM",Rock,"April 29, 2000","July 22, 2000",60,37,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,"4,14,00 AM",Rock,"December 11, 1999","February 19, 2000",82,68,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,"4,04,00 AM",Rap,"November 6, 1999","April 22, 2000",81,68,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),"3,50,00 AM",Rock'n'roll,"August 19, 2000","December 2, 2000",72,57,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,"3,43,00 AM",Rock,"September 30, 2000","December 30, 2000",99,92,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,"4,21,00 AM",Rock,"March 18, 2000","May 6, 2000",63,55,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,"3,50,00 AM",Latin,"February 26, 2000","June 3, 2000",77,54,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,98�,Give Me Just One Night (Una Noche),"3,24,00 AM",Rock,"August 19, 2000","September 30, 2000",51,39,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',"3,48,00 AM",Rock,"May 13, 2000","August 19, 2000",74,71,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,"3,53,00 AM",Rock,"April 8, 2000","November 11, 2000",81,70,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,"4,05,00 AM",Rock'n'roll,"January 29, 2000","May 20, 2000",74,63,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,"4,00,00 AM",Rock'n'roll,"April 15, 2000","July 1, 2000",50,39,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,"4,16,00 AM",Rock'n'roll,"September 4, 1999","January 8, 2000",81,68,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,"4,57,00 AM",Rock'n'roll,"January 1, 2000","July 1, 2000",94,86,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,"4,34,00 AM",Rap,"October 23, 1999","February 12, 2000",92,80,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,"3,15,00 AM",R & B,"September 2, 2000","September 9, 2000",91,87,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,"3,44,00 AM",Electronica,"July 8, 2000","September 16, 2000",98,96,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,"3,48,00 AM",Rap,"July 15, 2000","July 22, 2000",89,88,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,"4,08,00 AM",Rock,"December 4, 1999","February 5, 2000",91,91,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,"4,11,00 AM",Rock,"March 4, 2000","March 11, 2000",95,88,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,"3,54,00 AM",R & B,"June 3, 2000","June 17, 2000",97,97,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,"4,02,00 AM",Rock,"March 25, 2000","April 15, 2000",98,98,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,"4,10,00 AM",R & B,"August 19, 2000","August 26, 2000",96,89,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,"3,47,00 AM",Country,"November 27, 1999","January 15, 2000",99,100,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,"3,23,00 AM",Country,"January 1, 2000","January 22, 2000",98,100,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,"4,14,00 AM",Rap,"November 11, 2000","December 2, 2000",92,92,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,"3,46,00 AM",Rock,"May 13, 2000","May 20, 2000",92,91,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,"5,10,00 AM",Rock,"June 17, 2000","June 17, 2000",92,92,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,"4,43,00 AM",Country,"March 18, 2000","May 6, 2000",100,99,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,"4,01,00 AM",Pop,"April 1, 2000","April 1, 2000",92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,"2,58,00 AM",Rap,"September 9, 2000","September 16, 2000",97,93,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,"4,17,00 AM",Rap,"August 12, 2000","September 16, 2000",100,99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,"3,44,00 AM",Pop,"July 8, 2000","July 29, 2000",97,97,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,"4,16,00 AM",Rap,"November 11, 2000","November 18, 2000",96,95,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,"5,02,00 AM",Rap,"December 23, 2000","December 23, 2000",96,96,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,"4,02,00 AM",R & B,"March 4, 2000","March 11, 2000",100,97,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,"4,24,00 AM",Rock,"December 2, 2000","December 2, 2000",98,98,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,"4,06,00 AM",Rock,"December 30, 2000","December 30, 2000",98,98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,"4,00,00 AM",Rap,"August 12, 2000","August 19, 2000",99,98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,"3,33,00 AM",Rap,"November 18, 2000","November 18, 2000",98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,"3,04,00 AM",R & B,"August 5, 2000","August 5, 2000",98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,"3,58,00 AM",Rap,"February 12, 2000","February 12, 2000",99,99,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,"3,30,00 AM",Rock,"September 2, 2000","September 2, 2000",99,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,"3,58,00 AM",Rap,"July 1, 2000","July 1, 2000",99,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,"3,22,00 AM",R & B,"October 28, 2000","October 28, 2000",99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a name="ind-practice"></a>
## Independent Practice: Topic (20 minutes)

Using our old friend, the [sales_info.csv](assets/datasets/sales_info.csv) dataset:

- Inspect the data types
- Let's say all your values in the first column are too low by 1: use df.applymap to add 1 to each value in it
- Use .value_counts to count the values of each column in the dataset

**Bonus** 
- Write functions to bin the numerical values in each column into 'low', 'medium' and 'high' categories (hint: pandas has a built-in [quantile](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html) function)
- Use .value_counts again on each column of the dataset, and check that the ratios of the new values are what you expect
- Look at the advanced reading, and rewrite your binning functions as lambda functions

In [124]:
#bb.dtypes
df=pd.read_csv("/Users/thomas/GA-DSI/curriculum/week-02/2.3-data-cleaning/assets/datasets/sales_info.csv")
df.columns

Index([u'volume_sold', u'2015_margin', u'2015_q1_sales', u'2016_q1_sales'], dtype='object')

In [115]:
df=pd.read_csv("/Users/thomas/GA-DSI/curriculum/week-02/2.3-data-cleaning/assets/datasets/sales_info.csv")
df['volume_sold']=df['volume_sold'].map(lambda x: x+1)
df

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      19.420760    93.802281      337166.53      337804.05
1       5.776510    21.082425       22351.86       21736.63
2      17.602401    93.612494      277764.46      306942.27
3       5.296111    16.824704       16805.11        9307.75
4       9.156023    35.011457       54411.42       58939.90
5       6.005122    31.877437      255939.81      332979.03
6      15.606750    76.518973      319020.69      302592.88
7       5.456466    19.337345       45340.33       55315.23
8       6.047530    26.142470       57849.23       42398.57
9       6.388070    22.427024       51031.04       56241.57
10     10.347349    41.892133       68657.91        3536.14
11     11.930398    66.403049        4151.93      137416.93
12      7.270209    47.869324      121837.56      158476.55
13     13.395919    86.760150      146725.31      125731.51
14      5.557712    22.948176      119287.76       21834.49
15      5.200122    18.706055       20335.03       39609.55
16     11.252870    44.041177      110552.94      204038.87
17     13.076785    62.199004      204237.78       15689.80
18      4.725095    14.251810       16939.15       48545.69
19      4.210727    16.043269       55498.12       16320.74
20      7.290971    25.191171       15983.98       53182.55
21      8.434821    31.753066       71758.66       30402.43
22      5.376225    23.161451       62988.17       47217.40
23     13.988913    48.820741       29637.75        6367.76
24     12.697456    73.231504       48759.71      329252.09
25      6.965175    23.450334       89736.70      332976.05
26      4.945223    14.144793        5577.61      234926.02
27      8.369585    36.408528      310035.66      151934.45
28      8.343509    36.171862      310718.21      314068.92
29     13.350027    59.893478      258284.84       61847.52
..           ...          ...            ...            ...
170     9.443932    37.407112       17232.45       19203.82
171     6.151964    20.698042       21340.78       25302.92
172     7.537069    22.888219       16617.85       18650.96
173     9.500445    27.507729       21711.71       14626.29
174     4.931543    21.811659       28128.95       46323.73
175     7.163689    25.428521       21803.20      535381.86
176     5.904447    19.568317       12517.29      812011.78
177     8.402413    26.935335       53988.92      206247.57
178    48.503269   235.730678      555707.40        6402.78
179    56.739180   268.869600     1082136.01      100765.67
180    12.840780    56.433388      192089.46       20098.61
181     8.002294    26.440917        5574.99       68230.36
182     9.753142    45.293847       80241.27      596063.00
183     4.147741    15.594552       27043.54       87471.43
184     8.196779    27.288652       61977.54      431990.70
185    77.203692   367.225653      977772.62      136717.57
186    11.804337    42.031199       41905.18       30008.81
187    11.705327    45.891477       87839.45       19420.34
188    52.800686   255.153235      445058.32      274752.60
189     6.882779    27.512271      127495.18       10315.35
190     7.686406    26.103097       23874.67       45252.42
191     6.833355    23.741603       21535.87      433832.28
192    46.556096   218.008350      276096.18       74215.43
193     6.172606    21.548782        8506.79       78137.29
194    11.118018    46.700709       49163.01       83915.72
195    52.675537   233.533189      434110.57      372240.72
196     3.794631    11.996118       73789.38      148021.90
197     8.611698    38.809973       88006.84       31184.18
198    16.697651   105.035207      117958.96       33324.36
199    51.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [120]:
print [df[x].value_counts() for x in df]

[7.841363     1
11.086030    1
9.176668     1
7.792889     1
8.196779     1
8.824354     1
8.124444     1
7.433606     1
9.783937     1
10.849660    1
11.270185    1
11.637769    1
6.781266     1
4.147741     1
12.505838    1
7.657733     1
7.618174     1
11.252870    1
7.309813     1
9.555078     1
8.785867     1
6.882779     1
8.200364     1
46.556096    1
11.118018    1
11.331430    1
8.682494     1
9.453647     1
10.421713    1
8.560549     1
            ..
16.697651    1
9.124182     1
12.826536    1
10.347349    1
11.260836    1
8.611698     1
12.129382    1
8.930415     1
8.343509     1
52.800686    1
5.904447     1
8.695312     1
9.092883     1
7.447040     1
13.581695    1
6.965175     1
4.725095     1
8.211490     1
8.790503     1
9.500445     1
5.296111     1
6.324497     1
9.753142     1
9.686518     1
12.019652    1
7.686406     1
13.076785    1
15.439435    1
5.557712     1
8.437252     1
Name: volume_sold, dtype: int64, 32.732539     1
36.282033     1
33.417852     1
25.595019     1
22.948176     1
14.251810     1
39.530065     1
30.903842     1
46.299260     1
35.887044     1
45.598653     1
20.000646     1
24.476655     1
36.715759     1
35.087835     1
64.743906     1
16.043269     1
33.602314     1
34.222954     1
44.345418     1
41.547078     1
52.187977     1
26.935335     1
11.996118     1
47.989370     1
45.872212     1
225.055138    1
41.017119     1
31.292393     1
19.568317     1
             ..
51.491646     1
49.181634     1
19.337345     1
21.156300     1
58.940439     1
46.700709     1
268.869600    1
46.217509     1
233.533189    1
23.161451     1
48.844372     1
22.888219     1
44.534832     1
43.808956     1
21.811659     1
37.156932     1
23.823065     1
76.518973     1
32.623592     1
40.974879     1
36.408528     1
40.009303     1
35.222361     1
25.766675     1
42.031199     1
43.444194     1
39.752970     1
20.051366     1
105.035207    1
34.760422     1
Name: 2015_margin, dtype: int64, 192089.46    1
156513.07    1
163324.44    1
25575.88     1
21535.87     1
280506.28    1
145742.16    1
68077.30     1
88008.31     1
39867.38     1
32698.19     1
102794.01    1
133081.37    1
381036.91    1
5742.23      1
147242.83    1
208389.88    1
306947.29    1
130512.99    1
72185.66     1
157591.18    1
55538.11     1
7305.46      1
327334.28    1
110552.94    1
361865.13    1
176720.07    1
8458.20      1
407738.79    1
146850.63    1
            ..
89736.70     1
167606.75    1
89053.08     1
27043.54     1
52054.10     1
49163.01     1
60986.22     1
13141.20     1
46509.65     1
5577.61      1
119287.76    1
45340.33     1
84998.58     1
332692.67    1
169131.81    1
108362.38    1
157981.20    1
19089.74     1
321983.24    1
87115.74     1
20335.03     1
247716.78    1
136167.32    1
51427.05     1
105046.24    1
286763.37    1
54655.98     1
134589.33    1
66097.53     1
29637.75     1
Name: 2015_q1_sales, dtype: int64, 91213.98     1
234926.02    1
8041.09      1
78706.47     1
166847.54    1
6402.78      1
58332.41     1
343447.68    1
50434.54     1
256707.10    1
128500.31    1
156730.02    1
37179.58     1
7499.47      1
137697.56    1
218335.21    1
25302.92     1
30441.76     1
40160.26     1
4258.14      1
94229.41     1
37858.67     1
171119.44    1
31184.18     1
160278.07    1
58122.85     1
115591.86    1
20817.32     1
302592.88    1
61560.70     1
            ..
433832.28    1
12707.72     1
274752.60    1
11367.40     1
24206.67     1
535381.86    1
139676.38    1
382790.84    1
47217.40     1
115993.15    1
125731.51    1
268226.70    1
6367.76      1
298889.32    1
111207.97    1
149791.31    1
33324.36     1
53182.55     1
21834.49     1
305851.47    1
94158.15     1
130377.49    1
79554.12     1
129489.89    1
332979.03    1
242057.36    1
103958.63    1
151934.45    1
22130.31     1
9307.75      1
Name: 2016_q1_sales, dtype: int64]

In [146]:
df.quantile([.33,.67])

      volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0.33     6.899212    31.164171     58976.5653     57502.0276
0.67     9.622240    45.095120    159671.9880    167126.3768

<a name="conclusion"></a>
## Conclusion (5 mins)
So far we've used pandas to look at the head and tail of a data set. We've also taken a look at summary stats and different
types of data types. We've selected and sliced data too.

Today we added inspecting data types, df.apply, .value_counts to
our pandas arsenal.

### Advanced reading (optional)

.apply() functions are a typical use case for [lambda](http://www.secnetix.de/olli/Python/lambda_functions.hawk) [functions](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/) -- we'll go over them later in the class, but dive in now if you'd like!